#cabecera {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,9,121,1) 41%, rgba(0,233,255,1) 100%);
    padding: 10px;
}
#enlace-home, #enlace-trash, #enlace-export {
    padding: 0px;
}
#home-icon {
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: -10px;
}
#trash-icon {
    margin-left: 96%;
    margin-top: -45px;
}
#export-icon {
    margin-left: 92%;
    margin-top: -92px;
}
#tabla-tweets {
    padding: 20px;
}